@charset "UTF-8";
/* line 4, ../scss/style.scss */
body {
  min-height: 800px;
}

/* line 8, ../scss/style.scss */
.scoreNav {
  padding-left: 14%;
}

/* line 12, ../scss/style.scss */
.quizWahl {
  background-color: white;
}

/* line 16, ../scss/style.scss */
.quizWahl:hover {
  background-color: gainsboro;
}

/* line 20, ../scss/style.scss */
.inputArea {
  margin-top: 10%;
}

/* line 25, ../scss/style.scss */
.questionArea {
  position: absolute;
  color: #171a1d;
}

/* line 31, ../scss/style.scss */
.QuestionBox {
  margin-top: 8%;
  height: auto;
  width: auto;
  margin-left: 30%;
  margin-right: 30%;
  display: block;
}

/* line 41, ../scss/style.scss */
.table {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 70px;
}

/* line 52, ../scss/style.scss */
.btnSize {
  width: 49.6%;
  height: 120px;
  border: black solid 3px;
  display: inline-block;
  background-color: #007bff;
  position: center;
  font-size: 10mm;
  text-align: center;
  color: white;
}

/* line 64, ../scss/style.scss */
.btnSizetrans {
  width: 49.6%;
  height: 120px;
  border: black solid 3px;
  display: inline-block;
  background-color: #007bff;
  position: center;
  font-size: 10mm;
  text-align: center;
  color: white;
  margin-left: 2px;
}

/* line 78, ../scss/style.scss */
.QuestionSqaure {
  width: auto;
  height: 240px;
  border: black solid 2px;
  position: relative;
  margin-bottom: 4px;
}

/* line 86, ../scss/style.scss */
.btnCont {
  display: block;
  margin-bottom: 4px;
}

/* line 91, ../scss/style.scss */
.timer {
  display: block;
  margin-bottom: 4px;
  height: 30px;
  border: black solid 2px;
  animation: fortschritt 15s steps(5000);
  /*so viele steps da es dann aussieht als w├ñre es ein durchlaufender Zeitstrahl */
  background-color: #e83e8c;
}

@keyframes fortschritt {
  /*Animation f├╝r den Zeitstrahl in welchen Bereich er sich bewegen soll */
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* line 108, ../scss/style.scss */
.login {
  background-image: url("https://cdn.pixabay.com/photo/2016/10/12/19/54/homework-1735644_960_720.png");
}

/* line 113, ../scss/style.scss */
.text-centerquiz {
  font-size: 15mm;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/aa/49/54/aa4954451f16847cb657e68e5f46538a.jpg");
  color: white;
}

/* line 122, ../scss/style.scss */
.text-centerscoreboard {
  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  text-align: center;
  padding: 50px;
  margin-top: 30px;
  background-size: cover;
  color: white;
  font-size: 50px;
}

/* line 133, ../scss/style.scss */
.text-centerscoreresult {
  background-color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 0px;
  background-size: cover;
  color: black;
  font-size: 18px;
}

/* line 146, ../scss/style.scss */
.quizlistebody {
  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

<<<<<<< HEAD
/* line 145, ../scss/style.scss */
=======
/* line 157, ../scss/style.scss */
>>>>>>> 438705c049cc528a54c05818d607de5a9952b7fa
.scorebordbody {
  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

<<<<<<< HEAD
/* line 155, ../scss/style.scss */
=======
/* line 167, ../scss/style.scss */
>>>>>>> 438705c049cc528a54c05818d607de5a9952b7fa
xt-score {
  font-size: 50px;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/aa/49/54/aa4954451f16847cb657e68e5f46538a.jpg");
  color: white;
}

<<<<<<< HEAD
/* line 162, ../scss/style.scss */
=======
/* line 174, ../scss/style.scss */
>>>>>>> 438705c049cc528a54c05818d607de5a9952b7fa
.bodystartQuiz {
  text-align: center;
  margin-top: 40px;
  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

<<<<<<< HEAD
/* line 171, ../scss/style.scss */
=======
/* line 183, ../scss/style.scss */
>>>>>>> 438705c049cc528a54c05818d607de5a9952b7fa
#gotoFrage {
  background-color: #007bff;
  margin-top: 40px;
  display: inline-block;
}

<<<<<<< HEAD
/* line 177, ../scss/style.scss */
=======
/* line 189, ../scss/style.scss */
>>>>>>> 438705c049cc528a54c05818d607de5a9952b7fa
.schriftstartquiz {
  color: white;
  overflow: hidden;
  text-align: center;
}

<<<<<<< HEAD
/* line 184, ../scss/style.scss */
=======
/* line 195, ../scss/style.scss */
>>>>>>> 438705c049cc528a54c05818d607de5a9952b7fa
.bodytransition {
  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

<<<<<<< HEAD
/* line 190, ../scss/style.scss */
=======
/* line 201, ../scss/style.scss */
>>>>>>> 438705c049cc528a54c05818d607de5a9952b7fa
.bodyquestions {
  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

<<<<<<< HEAD
/* line 198, ../scss/style.scss */
=======
/* line 209, ../scss/style.scss */
>>>>>>> 438705c049cc528a54c05818d607de5a9952b7fa
#FertigPunkte {
  color: red;
}

<<<<<<< HEAD
/* line 204, ../scss/style.scss */
=======
/* line 215, ../scss/style.scss */
>>>>>>> 438705c049cc528a54c05818d607de5a9952b7fa
#FertigZeit {
  color: greenyellow;
}

<<<<<<< HEAD
/* line 207, ../scss/style.scss */
=======
/* line 218, ../scss/style.scss */
>>>>>>> 438705c049cc528a54c05818d607de5a9952b7fa
#Antwortszeit {
  color: #1c7430;
}

<<<<<<< HEAD
/* line 210, ../scss/style.scss */
=======
/* line 221, ../scss/style.scss */
>>>>>>> 438705c049cc528a54c05818d607de5a9952b7fa
#Punkte {
  color: #007bff;
}

<<<<<<< HEAD
/* line 214, ../scss/style.scss */
=======
/* line 225, ../scss/style.scss */
>>>>>>> 438705c049cc528a54c05818d607de5a9952b7fa
.loginbody {
  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

<<<<<<< HEAD
/* line 224, ../scss/style.scss */
=======
/* line 232, ../scss/style.scss */
>>>>>>> 438705c049cc528a54c05818d607de5a9952b7fa
.namelogin {
  color: white;
  text-align: center;
  font-size: 80px;
}

<<<<<<< HEAD
/* line 231, ../scss/style.scss */
=======
/* line 238, ../scss/style.scss */
>>>>>>> 438705c049cc528a54c05818d607de5a9952b7fa
#title {
  font-size: 70px;
  color: white;
}

/* line 236, ../scss/style.scss */
.row {
  margin-left: 25%;
  margin-right: 25%;
  padding-left: 4%;
}
