@charset "UTF-8";
/* line 4, ../scss/style.scss */
body {
  min-height: 800px;
}

/* line 8, ../scss/style.scss */
.scoreNav {
  padding-left: 14%;
}

/* line 12, ../scss/style.scss */
.quizWahl {
  background-color: white;
}

/* line 16, ../scss/style.scss */
.quizWahl:hover {
  background-color: gainsboro;
}

/* line 20, ../scss/style.scss */
.inputArea {
  margin-top: 10%;
}

/* line 25, ../scss/style.scss */
.questionArea {
  position: relative;
  vertical-align: middle;
  display: table-cell;
  color: #171a1d;
}

/* line 32, ../scss/style.scss */
.QuestionBox {
  margin-top: 8%;
  height: auto;
  width: auto;
  margin-left: 30%;
  margin-right: 30%;
}

/* line 41, ../scss/style.scss */
.table {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 70px;
}

/* line 50, ../scss/style.scss */
#quizlist {
  right: 0px;
}

/* line 55, ../scss/style.scss */
.btnSize {
  width: 49.6%;
  height: 120px;
  border: black solid 3px;
  display: inline-block;
  background-color: #007bff;
  position: center;
  font-size: 18pt;
  text-align: center;
  color: white;
  border-radius: 4px;
}

/* line 67, ../scss/style.scss */
.btnSize:hover {
  background-color: #42c5f4;
}

/* line 71, ../scss/style.scss */
.btnSizetrans {
  width: 49.6%;
  height: 120px;
  border: black solid 3px;
  display: inline-block;
  background-color: #007bff;
  position: center;
  font-size: 10mm;
  text-align: center;
  color: white;
  margin-left: 2px;
}

/* line 85, ../scss/style.scss */
.QuestionSqaure {
  width: 100%;
  font-size: 15pt;
  height: 240px;
  border: black solid 2px;
  position: relative;
  margin-bottom: 4px;
  display: table;
  border-spacing: 15px;
}

/* line 96, ../scss/style.scss */
.btnCont {
  display: block;
  margin-bottom: 4px;
}

/* line 101, ../scss/style.scss */
.timer {
  display: block;
  margin-bottom: 4px;
  height: 30px;
  border: black solid 2px;
  animation: fortschritt 15s steps(5000);
  /*so viele steps da es dann aussieht als wäre es ein durchlaufender Zeitstrahl */
  background-color: crimson;
}

@keyframes fortschritt {
  /*Animation für den Zeitstrahl in welchen Bereich er sich bewegen soll */
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* line 118, ../scss/style.scss */
.login {
  background-image: url("https://cdn.pixabay.com/photo/2016/10/12/19/54/homework-1735644_960_720.png");
}

/* line 123, ../scss/style.scss */
.text-centerquiz {
  font-size: 15mm;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/aa/49/54/aa4954451f16847cb657e68e5f46538a.jpg");
  color: white;
}

/* line 132, ../scss/style.scss */
.text-centerscoreboard {
  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  text-align: center;
  padding: 50px;
  margin-top: 30px;
  background-size: cover;
  color: white;
  font-size: 50px;
}

/* line 143, ../scss/style.scss */
.text-centerscoreresult {
  background-color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 0px;
  background-size: cover;
  color: black;
  font-size: 18px;
}

/* line 156, ../scss/style.scss */
.quizlistebody {
  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 168, ../scss/style.scss */
.scorebordbody {
  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 178, ../scss/style.scss */
xt-score {
  font-size: 50px;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/aa/49/54/aa4954451f16847cb657e68e5f46538a.jpg");
  color: white;
}

/* line 185, ../scss/style.scss */
.bodystartQuiz {
  text-align: center;
  margin-top: 40px;
  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 193, ../scss/style.scss */
.schriftstartquiz {
  color: white;
  overflow: hidden;
  text-align: center;
}

/* line 200, ../scss/style.scss */
.bodytransition {
  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 207, ../scss/style.scss */
.bodyquestions {
  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 215, ../scss/style.scss */
#FertigPunkte {
  color: red;
}

/* line 221, ../scss/style.scss */
#FertigZeit {
  color: greenyellow;
}

/* line 224, ../scss/style.scss */
#Antwortszeit {
  color: #1c7430;
}

/* line 227, ../scss/style.scss */
#Punkte {
  color: #007bff;
}

/* line 231, ../scss/style.scss */
.loginbody {
  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

/* line 241, ../scss/style.scss */
.namelogin {
  color: white;
  text-align: center;
  font-size: 80px;
  position: fixed;
  margin-left: 40%;
}

/* line 249, ../scss/style.scss */
.maxWidth {
  width: 100%;
}

/* line 253, ../scss/style.scss */
#title {
  font-size: 70px;
  color: white;
}

/* line 258, ../scss/style.scss */
.row {
  margin-top: 120px;
  margin-left: 25%;
  margin-right: 25%;
  padding-left: 4%;
  position: fixed;
  /*da sonst bei Anmeldung sich der Btn bewegt hat */
}
