:root
{
}
body
{
  min-height: 800px;
}
.scoreNav
{
  padding-left:14%;
}
.quizWahl
{
  background-color:white;
}
.quizWahl:hover
{
  background-color:gainsboro;
}
.inputArea
{
  margin-top: 10%;

}
.questionArea
{

  position: absolute;
  color: #171a1d;
}
.QuestionBox
{
  margin-top: 8%;
  height:auto;
  width:auto;
  margin-left: 30%;
  margin-right: 30%;
  display:block;

}
.table
{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 70px;

}


.btnSize {
  width: 49.6%;
  height: 120px;
  border: black solid 3px;
  display: inline-block;
  background-color: #007bff;
  position: center;
  font-size: 10mm;
  text-align: center;
  color: white;
}

.btnSizetrans {
  width: 49.6%;
  height: 120px;
  border: black solid 3px;
  display: inline-block;
  background-color: #007bff;
  position: center;
  font-size: 10mm;
  text-align: center;
  color: white;
  margin-left: 2px;

}

.QuestionSqaure
{
  width:auto;
  height: 240px;
  border: black solid 2px;
  position: relative;
  margin-bottom: 4px;
}
.btnCont
{
  display:block;
  margin-bottom: 4px;
}
.timer {
  display: block;
  margin-bottom: 4px;
  height: 30px;
  border: black solid 2px;
  animation: fortschritt 15s steps(5000); /*so viele steps da es dann aussieht als wäre es ein durchlaufender Zeitstrahl */
  background-color: #e83e8c;


}

@keyframes fortschritt { /*Animation für den Zeitstrahl in welchen Bereich er sich bewegen soll */
  from{width: 0%}
  to{width: 100%}

}

.login {

  background-image: url("https://cdn.pixabay.com/photo/2016/10/12/19/54/homework-1735644_960_720.png");
}

.text-centerquiz {

  font-size: 15mm;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/aa/49/54/aa4954451f16847cb657e68e5f46538a.jpg");
  color: white;

}

.text-centerscoreboard {

  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  text-align: center;
  padding: 50px;
  margin-top: 30px;
  background-size: cover;
  color: white;
  font-size: 50px;
}

.text-centerscoreresult {

  background-color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 0px;
  background-size: cover;
  color: black;
  font-size: 18px;
}


.quizlistebody {

  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;


}

.scorebordbody {

  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

xt-score {
  font-size: 50px;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/aa/49/54/aa4954451f16847cb657e68e5f46538a.jpg");
  color: white;
}

.bodystartQuiz {

  text-align: center;
  margin-top: 40px;
  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

#gotoFrage {
  background-color: #007bff;
  margin-top: 40px;
  display: inline-block;
}

.schriftstartquiz {

  color: white;
  overflow: hidden;
  text-align: center;
}

.bodytransition {

  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
.bodyquestions {

  background-image: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;

}

#FertigPunkte {

  color:red;

}

#FertigZeit {
  color: greenyellow;
}
#Antwortszeit{
  color: #1c7430;
}
#Punkte {
  color: #007bff;
}

.loginbody {

  background-image:url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;


}

.namelogin {
  color : white;
  text-align: center;
  font-size: 80px;
  position: fixed;
  margin-left: 40%;

}

#title {
  font-size: 70px;
  color: white;
}

.row {
  margin-top: 120px;


  margin-left: 25%;
  margin-right: 25%;
  padding-left: 4%;
  position: fixed; /*da sonst bei Anmeldung sich der Btn bewegt hat */
}


