:root
{
}
.inputArea
{
  margin-top: 10%;
}
.questionArea
{
  margin-top:18%;
  position: relative;
}
.QuestionBox
{
  margin-top: 30px;
  height:auto;
    width:auto;
  margin-left: 30%;
    margin-right: 30%;
  
}
.btnSize
{
  width: 49.6%;
  height: 120px;
  border: black solid 2px;
  display: inline;
}
.QuestionSqaure
{
  width:auto;
  height: 240px;
  border: black solid 2px;
  position: relative;
  margin-bottom: 4px;
}
.btnCont
{
display:block;
margin-bottom: 4px;
}
.timer
{
  display: block;
  margin-bottom: 4px;
  height:30px;
  border: black solid 2px;
}
